Pillow
aiohttp
aiohttp-cors
colorama
dotenv
faiss-cpu
fastapi
jieba
jsonlines
maim-message>=0
quick_algo
networkx
numpy
openai
peewee
pydantic
pypinyin
python-dotenv
pymongo
ruff
scipy
setuptools
toml
tomli
tomli_w
tomlkit
urllib3
uvicorn
websockets
strawberry-graphql[fastapi]
packaging
rich
psutil
json-repair
structlog
google.genai
